# Rust's output directory
target

# Local Soroban settings
.soroban

# The following is from the Frontend Template's .gitignore

node_modules

# Output
.output
.vercel
/.svelte-kit
/build
/dist

# OS
.DS_Store
Thumbs.db
/.idea

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# generated Soroban contract clients
packages/*
# if you have other workspace packages, add them here
!packages/.gitkeep

# generated contract client imports
src/contracts/*
!src/contracts/util.ts

# build-time generated artefacts
static/widget
static/docs

# vitepress docs artefacts
docs/.vitepress/cache
docs/.vitepress/dist
